.empleados-container {
    overflow: auto;
    overflow-y: scroll;
    width: 83dvw !important;
    height: 98dvh !important;
}

@media (max-width: 1000px) {
    .empleados-container {
        height: 100%;
        width: 100dvw !important;
    }
    .empleados-container .card {
        width: 100%;
        height: 100%;
    }
}

.nuevo-producto-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nuevo-producto-form .nombre-estado-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.nuevo-producto-form .nombre-estado-container .nombre,
.nuevo-producto-form .nombre-estado-container .estado {
    flex: 1;
}

.nuevo-producto-form .descripcion {
    width: 100%;
    height: 100px;
    resize: none;
}

