VITE_BACKEND = https://7jdg9n67-2341.uks1.devtunnels.ms
VITE_BACKEND_LOGIN =
VITE_BACKEND_LISTA_EMPLEADOS =
VITE_BACKEND_EMPLEADO =
VITE_BACKEND_SIGNIN =
VITE_BACKEND_LISTA_PRODUCTOS =
VITE_BACKEND_PRODUCTO =
VITE_BACKEND_DEPARTAMENTOS =
VITE_BACKEND_PERMISOS =
VITE_BACKEND_CONTRATOS =